@font-face {
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Light-Italic;;
    src: url(./fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./fonts/Roboto-Bold.ttf);
}

*{
    box-sizing: border-box;
}
body {
    background: linear-gradient(#0283C1,#211b15,black);
    min-height: 100%;
    margin: 0;
    height: 100vh;

    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;/*novo*/
}
.page{
    align-items: left;
    padding: 30px;
    width: 400px;
    max-width: 100%;
}
.page-title{
    font-family: "Roboto-Medium", monospace;
    color: #ffffff;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.page-subtitle {
    margin-top: 25px;
    margin-left: 35px;

    text-align: left;
    font-family:"Light-Italic";
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff; 
}

.title-films{
    text-align: left;
    margin-left: 50px;
    color: #ffffff;
    font-family:"Roboto-Bold";
    font-size: 18px;
}
body > .image{
    margin: 0 8px;
}
/*
.image{
    align-items: center;
    max-height: 250px;
    max-width: 180px;
    padding: 10px;
    transition: all ease 0.3s;
    cursor: pointer;
}*/

/*.botao{
    position: absolute;
    width: 40px;
    height: 100px;
    top: 520px;
    left: 5px;
    z-index: 99;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    border-style: none;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
}*/
.botao:hover{
    opacity: 1;
}

.image3{
    position: relative;
    display: flex;
    overflow-x: auto;
    margin-left: 10px;
}
.image3::-webkit-scrollbar{
    width: 0px;
}
html::-webkit-scrollbar{
    width: 0px;
}
.image-dois{
    max-height: 250px;
    max-width: 180px;
    align-items: center;
    max-height: 250px;
    max-width: 180px;
    padding: 10px;

    transition: all ease 0.3s;
}
.image-dois:hover, .image-dois:focus, .image-dois:active{
    transition: 0.3s;
    transform: scale(1.1);
    z-index: 100;
}