@font-face {
    font-family: Roboto-Medium;
    src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Light-Italic;
    src: url(./fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family:Roboto-Medium-Italic;
    src: url(./fonts/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family:Roboto-Light;
    src: url(./fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto-Regular;
    src: url(./fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body {
    background: linear-gradient(#0283C1,#211b15,black);
    min-height: 100%;
    margin: 0;
    height: 100vh;

    background-size:cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;/*novo*/
}
.itens-page{
    font-family: Roboto-Regular;
    text-align: center;
    align-items: center;
}

.page{
    align-items: left;
    padding: 30px;
    width: 400px;
    max-width: 100%;
}
.page-title{
    font-family: "Roboto-Medium", monospace;
    color: #ffffff;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.page-subtitle {
    margin-top: 25px;
    margin-left: 35px;

    text-align: left;
    font-family:"Light-Italic";
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff; 
}
hr{
    margin: 2%;
}
/*Titulos*/
.title-films{
    text-align: left;
    margin-left: 25px;
    max-width: 100%;
    color: #ffffff;
    font-family:"Roboto-Medium-Italic";
    font-size: 20px;
}
.title-films-page{
    text-align: center;
    max-width: 100%;
    color: #ffffff;
    font-family:"Roboto-Medium-Italic";
    font-size: 23px;
}
body > .image{
    margin: 0 8px;
}
/*Imagens dos Filmes*/
.image3{
    position: relative;
    display: flex;
    overflow: auto;
    margin-left: 10px;
}
.image-page{
    position: relative;
    overflow: auto;
    max-width: 100%;
    text-align: center;
}
.image3::-webkit-scrollbar{
    width: 0px;
}
.image-page::-webkit-scrollbar{
    width: 0px;
}
html::-webkit-scrollbar{
    width: 0px;
}
.image-dois{
    height: 250px;
    width: 170px;
    margin: 7px;
    align-items: center;
    box-shadow: 0 0 0.5em black;

    transition: all ease 0.3s;
}
.image-dois:hover{
    transition: 0.3s;
    transform: scale(1.1);
    z-index: 100;
}
/*Para as paginas*/
.sinopse{
    opacity: 0;
<<<<<<< HEAD
    z-index: -99;
    line-height: 1px;
    width: 400px;
    margin: auto;
=======
    z-index: -50;
    width: 400px;
    max-width: 100%;
    margin: auto;
    line-height: 0px;
>>>>>>> f02488c28ae4b0bc4f68ecd9e3e0bd97b322c3c8
    overflow:hidden;

    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    transition: all ease 1s;

}
.transition {
    -webkit-transition: opacity 400ms, height 400ms;
    -o-transition: opacity 400ms, height 400ms;
    transition: opacity 400ms, height 400ms;
    transition: all ease 1s;

    margin: auto;
    width: 400px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    font-family:"Light-Italic";
    font-style: normal;
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;

    opacity: 1;
    z-index: 1;
    overflow: visible;
}
.btn-sinopse{
    margin-top:15px;
    margin-bottom:10px;
    padding: 5px;
    color: #ffffff;
    width: 400px;
    max-width: 100%;

    border-style: none;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 2em black;
}
.resenha{
    opacity: 0;
    z-index: -99;
    width: 400px;
    max-width: 100%;
    margin: auto;
    line-height: 1px;
    overflow:hidden;
    
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    transition: all ease 1s;
}
.transition2 {
    -webkit-transition: opacity 400ms, height 400ms;
    -o-transition: opacity 400ms, height 400ms;
    transition: opacity 400ms, height 400ms;
    transition: all ease 1s;

    margin: auto;
    width: 400px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    font-family:"Light-Italic";
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;

    opacity: 1;
    z-index: 1;
    overflow: visible;
}
.btn-resenha{
    margin-top:15px;
    margin-bottom:10px;
    padding: 5px;
    color: #ffffff;
    width: 400px;
    max-width: 100%;

    border-style: none;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: inset 0 0 2em black;

}
.links{
    padding: 10px;
    font-size: 17px;
    font-family:Roboto-Light;
    text-align: center;
    max-width: 100%;
}

.onde-ver{
    color: white;
    font-size: 20px;
}